* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0a192f;
  color: #8892b0;
  line-height: 1.3;
  font-family: "Calibre", San Francisco, SF Pro Text, Lato, Helvetica Neue,
    Segoe UI, Arial, sans-serif;
  /* font-weight: 100; */
  font-style: normal;
  font-size: 18px;
}
.nav-bar {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  height: 15vh;
  background-color: #0a192f;
  z-index: 5;
  top: 0px;
  align-items: center;
  pointer-events: auto !important;
  /* user-select: auto !important; */
}
.nav-bar-scrolled {
  height: 12vh;
  box-shadow: 0 10px 30px -10px rgba(2, 12, 27, 0.7);
  transform: translateY(0);
  z-index: 5;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding-left: 20px;
}
.logo-image {
  width: 6vh;
  height: 6vh;
  object-fit: contain;
}
.toggle-navbar-icon {
  display: none;
}

.right-nav-bar {
  width: 80%;
  justify-content: flex-end;
}
.nav-links,
.right-nav-bar {
  display: flex;
  align-items: center;
}
.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-around;
}

.counter {
  font-size: 12px;
  color: #64ffda;
  margin-right: 10px;
}
.counter,
.links {
  font-family: SF Mono, Fira Code, Fira Mono, Roboto Mono, Lucida Console,
    Monaco, monospace;
}
/* .nav-links li{
  font-size: 13px;
  text-decoration: none;
  color: #ccd6f6;
  margin-right: 25px;
} */
.links {
  font-size: 13px;
  text-decoration: none;
  color: #ccd6f6;
  margin-right: 25px;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
.links:hover {
  color: #64ffda;
}
.resume-container {
  padding-right: 20px;
}
.resume,
.resume:hover {
  color: #64ffda;
  font-family: SF Mono, Fira Code, Fira Mono, Roboto Mono, Lucida Console,
    Monaco, monospace;
  line-height: 1;
  cursor: pointer;
  margin-left: 10px;
  font-size: 13px;
  border-width: 1px;
  border-style: solid;
  border-color: #64ffda;
  padding: 0.65rem 1.1rem;
  border-radius: 3px;
  text-decoration: none;
  background-color: transparent;
}
.resume:hover {
  background-color: rgba(100, 255, 218, 0.2);
}
.content {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.sidebars {
  width: 10%;
}
.left-side-bar {
  width: 10%;
  height: 85vh;
  position: fixed;
  top: 15vh;
}
.right-side-bar {
  width: 10%;
  height: 85vh;
  position: fixed;
  left: 90%;
  top: 15vh;
}
.left-side-bar-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: end;
  align-items: center;
  height: 85vh;
  width: 100%;
  gap: 24px;
}
.vertical-sidebar-line {
  width: 0px;
  height: 14vh;
  border: solid 1px #a8b2d1;
}
.social-link {
  width: 32px;
  height: 32px;
  text-decoration: none;
}
.social-link > img {
  width: 100%;
  height: 100%;
  background-color: rgb(204, 214, 246);
  border-radius: 8px;
  padding: 4px;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
.social-link > img:hover {
  background-color: #64ffda;
}
.right-side-bar-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: end;
  align-items: center;
  height: 85vh;
  width: 100%;
}
.sidebar-mail-link {
  margin: 20px auto;
  padding: 10px;
  font-family: monospace;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1em;
  writing-mode: vertical-rl;
  text-decoration: none;
  color: rgb(168, 178, 209);
}
.sidebar-mail-link:hover {
  color: rgb(100, 255, 218);
}
.main-content {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 15vh;
}

.section {
  width: 100%;
  padding: 15vh 3vw;
  min-height: 100vh;
  text-align: left;
  visibility: visible;
  opacity: 1;
  outline: none;
}
.section.intro {
  padding: 10vh 3vh;
}
.intro-line {
  color: #64ffda;
  font-size: 16px;
  font-family: SF Mono, Fira Code, Fira Mono, Roboto Mono, Lucida Console,
    Monaco, monospace;
  font-weight: 400;
  margin: 0 0 20px 3px;
}
.name {
  margin: 0px;
  color: #ccd6f6;
  margin-bottom: 5px;
}
.subheading {
  color: #8892b0;
  margin-bottom: 10px;
}
.name,
.subheading {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 700;
}
.intro-description {
  margin-top: 25px;
  max-width: 500px;
  margin-bottom: 15px;
}
.mail-link-container {
  box-sizing: border-box;
  width: fit-content;
  height: fit-content;
}
.mail-box {
  margin-top: 80px;
}
.mail-link {
  color: #64ffda;
  font-size: 14px;
  font-family: SF Mono, Fira Code, Fira Mono, Roboto Mono, Lucida Console,
    Monaco, monospace;
  line-height: 1;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  border-color: #64ffda;
  border-image: initial;
  border-radius: 3px;
  padding: 1.15rem 1.65rem;
  text-decoration: none;
}
.mail-link:hover {
  color: rgb(100, 255, 218);
  background-color: rgba(100, 255, 218, 0.1);
  font-size: 14px;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono",
    "Lucida Console", Monaco, monospace;
  line-height: 1;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(100, 255, 218);
  border-image: initial;
  border-radius: 3px;
  padding: 1.15rem 1.65rem;
  text-decoration: none;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
.main-container {
  counter-reset: section-heading;
}

.section-heading::before {
  content: "0" counter(section-heading) ".";
  counter-increment: section-heading;
  margin-right: 10px;
  font-family: SF Mono, Fira Code, Fira Mono, Roboto Mono, Lucida Console,
    Monaco, monospace;
  font-weight: 400;
  color: #64ffda;
  font-size: 20px;
  position: relative;
  /* bottom: 4px; */
  /* top: 4px; */
}

.section-heading {
  display: flex;
  align-items: center;
  width: 100%;
  white-space: nowrap;
  font-size: 31px;
  font-weight: 600;
  color: #ccd6f6;
  margin: 10px 0 40px;
}
.section-heading::after {
  width: 200px;
  content: "";
  display: block;
  height: 1px;
  width: 20vw;
  background-color: #2d3952;
  position: relative;
  margin-left: 20px;
  /* bottom: 4px; */
}
.about .about-content {
  display: flex;
  align-items: flex-start;
  width: 100%;
  flex-direction: row;
}

.experience .about-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.about-content .info-text {
  display: flex;
  flex-direction: column;
  width: 55%;
  padding-right: 5vw;
  font-size: 18px;
  line-height: 26px;
}
.p1,
.p2,
.list-heading {
  margin-bottom: 15px;
}
#company-name,
#company-name:hover,
#university-link,
#university-link:hover {
  color: #64ffda;
}
#company-name,
#university-link {
  text-decoration: none;
}
.about-content .info-text .skill-grid {
  display: grid;
  grid-template-columns: minmax(140px, 190px) minmax(140px, 190px);
  grid-template-rows: auto;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 20px 0 0;
  list-style: none;
  align-content: center;
  /* z-index: -1; */
}
.skill-grid .skill {
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 10px;
  font-family: SF Mono, Fira Code, Fira Mono, Roboto Mono, Lucida Console,
    Monaco, monospace;
  font-size: 13px;
  color: #8892b0;
}
.skill-grid .skill:before {
  content: "▹";
  position: absolute;
  left: 0;
  top: 6px;
  color: #64ffda;
  font-size: 14px;
  line-height: 12px;
}

.about-content .info-pic {
  width: 45%;
  padding-left: 5vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.experience-content .info-text {
  display: flex;
  justify-content: flex-start;
}

.pic-container {
  background-image: url(./assets/profile.jpeg);
  background-size: 58vh;
  width: 43vh;
  height: 43vh;
  background-color: #64ffda;
  background-blend-mode: multiply;
  -webkit-filter: grayscale(40%) contrast(1);
  filter: grayscale(40%) contrast(1);
  object-fit: contain;
}
.pic-container,
.pic-container:hover {
  max-height: 400px;
  max-width: 400px;
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
.pic-container:hover {
  background-size: 59vh;
  width: 45vh;
  height: 45vh;
  background-color: rgba(100, 255, 218, 0);
  filter: none;
}
.experience-content .info-text .company-list {
  width: minmax(20%, 25%);
  padding-right: 20px;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.company-list .active-company {
  font-family: SF Mono, Fira Code, Fira Mono, Roboto Mono, Lucida Console,
    Monaco, monospace;
  cursor: pointer;
  font-size: 14px;
  background-color: transparent;
  outline: transparent;
  padding: 10px 20px;
  color: #64ffda;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  line-height: 20px;
  border: none;
  border-left: 2px solid #64ffda;
}

.company-list .company {
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono",
    "Lucida Console", Monaco, monospace;
  cursor: pointer;
  font-size: 14px;
  color: rgb(96, 106, 134);
  background-color: transparent;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  line-height: 20px;
  border: none;
  border-left: rgb(96, 106, 134) solid 2px;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.experience-content .info-text .company-info {
  width: 70%;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

.company-info .company-title {
  color: #ccd6f6;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 5px;
  padding-top: 10px;
}

.company-info .company-link {
  color: #64ffda;
  text-decoration: none;
}
.company-info .work-dates {
  font-family: SF Mono, Fira Code, Fira Mono, Roboto Mono, Lucida Console,
    Monaco, monospace;
  font-size: 14px;
  margin-bottom: 20px;
}
.company-info .work-details {
  list-style: none;
}

.company-info .work-details .description-line {
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 22px;
}
.company-info .work-details .description-line:before {
  content: "▹";
  position: absolute;
  left: 0;
  top: 4px;
  color: #64ffda;
  font-size: 14px;
  line-height: 12px;
}
.contact .section-heading::after {
  width: 200px;
  content: "";
  display: none;
  height: 1px;
  width: 20vw;
  background-color: rgb(45, 57, 82);
  position: relative;
  bottom: 4px;
  margin-left: 20px;
}
.contact .section-heading::before {
  bottom: 0px;
}
.contact .section-heading {
  justify-content: center;
  font-family: SF Mono, Fira Code, Fira Mono, Roboto Mono, Lucida Console,
    Monaco, monospace;
  font-size: 20px;
  font-weight: 400;
  margin: 10px 0 25px;
  color: #64ffda;
}
.contact-heading {
  font-size: 52px;
  color: #ccd6f6;
  font-weight: 700;
  margin-bottom: 15px;
}
.contact .about-content {
  display: flex;
  flex-direction: column;
  /* width: 55%;
  padding-right: 15vw; */
  align-items: center;
  /* width: 100%; */
}
.contact .about-content .info-text {
  width: 50vw;
  padding-right: 0;
  text-align: center;
}
.about-content .info-text {
  display: flex;
  flex-direction: column;
}
.link-box {
  margin-top: 80px;
}
.footer-container {
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono",
    "Lucida Console", Monaco, monospace;
  font-size: 16px;
  width: 100%;
  height: 14vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(100, 255, 218);
  color: rgb(10, 25, 47);
  text-align: center;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  pointer-events: none;
  /* position: absolute; */
}
.footer-container:hover {
  background-color: transparent;
}

.footer-text {
  text-decoration: none;
  color: rgb(10, 25, 47);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
.footer-text {
  pointer-events: auto;
}

.footer-text:hover {
  text-decoration: none;
  color: rgb(100, 255, 218);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
@media only screen and (max-width: 992px) {
  .contact .about-content .info-text {
    width: 70vw;
  }
}
@media only screen and (max-width: 768px) {
  .toggle-navbar-icon {
    display: block;
    width: 9vh;
    height: 9vh;
    z-index: 1000 !important;
  }

  .hamburger {
    position: fixed;
    width: 7vh;
    height: 9vh;
    cursor: pointer;
  }

  .close {
    position: fixed;
    width: 5vh;
    height: 9vh;
    cursor: pointer;
  }

  .logo {
    padding-left: 2vw;
  }

  .logo-image {
    height: 8vh;
    width: 8vh;
  }
  .right-nav-bar {
    display: none;
  }
  .right-nav-bar-toggled {
    width: 70vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(23, 42, 69);
    box-shadow: rgba(2, 12, 27, 0.7) -10px 0px 30px -15px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  }
  .nav-links {
    flex-direction: column;
    padding-top: 15vh;
    height: 70vh;
    width: 50vw;
  }

  .nav-links li {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .counter {
    margin: 0;
    margin-bottom: 10px;
  }

  .links {
    margin: 0;
  }

  .resume-container {
    padding-bottom: 10vh;
    padding-right: 0;
    margin-top: 15px;
  }

  .resume {
    margin-left: 0;
  }
  .content {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .main-content {
    width: 90%;
    margin: 0 auto;
    height: 100%;
    padding-top: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .intro-line {
    font-size: 14px;
  }

  .name {
    font-size: 50px;
  }

  .subheading {
    font-size: 40px;
  }

  .intro-description {
    font-size: 17px;
    text-align: left;
  }

  .about-content {
    /* // padding-left: 45px; */
    font-size: 17px;
  }

  .about .about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-content .info-text {
    width: 100%;
    padding-right: 0;
    padding-bottom: 5vh;
    display: flex;
    flex-direction: column;
  }

  .about-content .info-text .p1,
  .about-content .info-text .p2,
  .about-content .info-text .list-heading {
    margin-bottom: 15px;
  }

  .about-content .info-text .skill-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    width: 100%;
    overflow: hidden;
    padding: 0px;
    margin: 20px 0px 0px;
    list-style: none;
    align-content: center;
  }

  .skill-grid .skill::before {
    content: "▹";
    color: rgb(100, 255, 218);
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 14px;
    line-height: 12px;
  }

  .skill-grid .skill {
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono",
      "Lucida Console", Monaco, monospace;
    font-size: 13px;
    color: rgb(136, 146, 176);
  }

  .about-content .info-pic {
    width: 100%;
    padding-left: 0;
    padding-top: 5vh;
    justify-content: center;
  }

  .section-heading::before {
    font-size: 18px;
    bottom: 3px;
  }

  .section-heading {
    font-size: 24px;
  }

  .section#experience {
    padding: 15vh 3vw;
  }

  .experience-content .info-text {
    display: flex;
    flex-direction: column;
    /* // justify-content: flex-start; */
  }

  .experience-content .info-text .company-list {
    width: 100%;
    overflow-x: auto;
    padding-right: 0;
    margin-bottom: 10px;
    list-style: none;
    display: flex;
    flex-direction: row;
  }

  .company-list .company:hover,
  .company-list .company:focus {
    background-color: #8892b026;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  }
  .company-list .company:hover,
  .company-list .company:focus,
  .company-list .company:active {
    background-color: #8892b026;
    color: rgb(100, 255, 218);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    outline: 0px;
  }

  .company-list .company {
    font-size: 12px;
    line-height: 16px;
    border-left: none;
    border-bottom: rgb(96, 106, 134) solid 2px;
  }

  /* // .company-list .active-company:hover,
  // .company-list .active-company:focus {
  //   background-color: #8892b026;
  //   transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  // } */
  .company-list .active-company:hover,
  .company-list .active-company:focus,
  .company-list .active-company:active {
    background-color: #8892b026;
    color: rgb(100, 255, 218);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    outline: 0px;
  }

  .company-list .active-company {
    font-size: 12px;
    line-height: 16px;
    border-left: none;
    border-bottom: rgba(100, 255, 218, 1) solid 2px;
  }

  .experience-content .info-text .company-info {
    width: 100%;
    padding-left: 0;
    display: flex;
    flex-direction: column;
  }

  .company-info .company-title {
    color: rgb(204, 214, 246);
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 5px;
    padding-top: 10px;
  }

  .company-info .work-dates {
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono",
      "Lucida Console", Monaco, monospace;
    font-size: 13px;
    margin-bottom: 20px;
  }

  .company-info .work-details {
    list-style: none;
  }

  .company-info .company-link {
    color: rgb(100, 255, 218);
    text-decoration: none;
  }

  .company-info .company-link:hover {
    text-decoration: underline;
  }

  .company-info .work-details .description-line::before {
    content: "▹";
    position: absolute;
    left: 0px;
    top: 4px;
    color: rgb(100, 255, 218);
    font-size: 14px;
    line-height: 12px;
  }

  .company-info .work-details .description-line {
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 20px;
  }

  .contact .section-heading::after {
    width: 200px;
    content: "";
    display: none;
    height: 1px;
    width: 20vw;
    background-color: rgb(45, 57, 82);
    position: relative;
    bottom: 4px;
    margin-left: 20px;
  }

  .contact .section-heading::before {
    bottom: 0px;
  }

  .contact .section-heading {
    justify-content: center;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono",
      "Lucida Console", Monaco, monospace;
    font-size: 18px;
    font-weight: 400;
    margin: 10px 0 25px;
    color: rgb(100, 255, 218);
  }

  .contact-heading {
    font-size: 40px;
    color: rgb(204, 214, 246);
    font-weight: 700;
    margin-bottom: 15px;
  }

  .contact .about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact .about-content .info-text {
    width: 84vw;
    padding-right: 0;
    text-align: center;
  }

  .footer-container,
  .footer-container-hovered {
    font-size: 14px;
    height: 10vh;
  }
}
